header, section, footer {
    background-color: lightskyblue;
    border: 4px solid blue;
    text-align: center;
}

header {
    margin-bottom: 33px;
    font-size: 0.9rem;
    width: 98vw;
}

header, #c0, footer {
    display: inline-block;
}

section {
    padding: 200px 0;
    font-size: 1.2em;
}

#c0 {
    padding: 15vh 0vw;
    margin-bottom: 33px;
    width: 98vw;
}

div {
    width: 20%;
    padding: 10px;
    background-color: #0284fd;
    color: white;
    margin-left: 38.3vw;
}

#c1 {
    margin-right: 2vw;
}

#c1, #c2 {
    display: inline-block;
    width: 47.4vw;
}

footer {
    margin-top: 33px;
    padding: 22px 0;
    width: 98vw;
    font-size: 1.2rem;
}


