header, section, footer {
    background-color: lightskyblue;
    border: 4px solid blue;
    text-align: center;
}

header {
    padding-left: 478px;
    padding-right: 478px;
    margin-bottom: 33px;
}

header, #c0, footer {
    display: inline-block;
}

section {
    padding: 200px 266px;
}

#c0 {
    padding: 200px 592px;
    margin-bottom: 233px;        
}

#c1 {
    margin-right: 35px;
}

#c1, #c2, h3 {
    display: inline;
}

footer {
    margin-top: 233px;
    padding: 22px 605px;
}